{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
  </head>
  <body>
    <div class="flex items-center justify-center mx-auto p-6">
      <form method="POST" enctype="multipart/form-data">
        <div>
        {% if messages %}
          {% for message in messages %}
          <div class="p-2 {% if message.tags == 'success' %}bg-green-500{% endif %}">{{message}}</div>
          {% endfor %}
        {% endif %}
      </div>
        {% csrf_token %} 
        {{ task_form }}
        {{ task_detail_form }}
        <button type="submit" class="mb-5 bg-rose-500 border-2 border-gray-300 px-3 py-2 rounded-md">Submit</button>
      </form>
    </div>
  </body>
</html>
