{% extends "dashboard/dashboard.html" %}
{% block title %}Manager Dashboard{% endblock title %}
{% block tasks %}

<!-- task table -->
<div class="bg-white rounded-xl shadow-sm p-6">
  <!-- task item -->
    <div
      class="grid grid-cols-4 p-4 py-2 gap-4 items-center text-sm text-gray-500"
    >
      <div>TASK TITLE</div>
      <div>PRIORITY</div>
      <div>TEAM</div>
      <div>CREATED AT</div>
    </div>
    <div class="divide-y divide-gray-100">
    <!-- item-1 -->
     {% for task in tasks %}
     <div class="grid grid-cols-4 p-4 gap-4 items-center">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
        <div><span>{{task.title}}</span></div>
      </div>
      <div>
        <span class="px-3 py-1 rounded-full bg-blue-50 text-blue-600 text-sm"
          >{{task.details.get_priority_display}}</span
        >
      </div>
      <div class="flex -space-x-2">
        {% for emp in task.assigned_to.all %}
        <div
          class="w-6 h-6 rounded-full bg-blue-500 text-white flex justify-center items-center text-sm border-2 border-white"
        >
          {{emp.name|slice:':2'}}
        </div>{% endfor %}
      </div>
      <div>
        <span class="text-gray-500">{{task.created_at|timesince}}</span>
      </div>
    </div>
     {% endfor %}
  </div>
</div>

{% endblock tasks %}