<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication System</title>
</head>
<body>
    <h1>Welcome to Authentication System</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Enter your username" name="username"> <br> <br>
            <input type="password" placeholder="Enter your password" name="password"> <br> <br>
            <button type="submit">Sign In</button>
        </form>
    </div>
</body>
</html>